<fast-dropzones class="dropzones">
	<fast-dropzone
		name="src"
		show="{ true }"
		state="{ opts.state.src }"
		is-disabled="{ opts.isRunning }"
		data-can-drop="{ !opts.isRunning }"
	></fast-dropzone>

	<fast-dropzone
		name="dest"
		state="{ opts.state.dest }"
		sync-handler="{ syncPaths }"
		show-sync-button="{ !!opts.state.src.path && opts.state.src.path !== opts.state.dest.path }"
		data-can-drop="{ true }"
	></fast-dropzone>

	<script>
		const fs = require('fs');

		const tag = this;

		tag.on('mount', () => {
			const dropzoneSrc = tag.root.querySelector('[data-dropzone="src"]');
			const dropzoneDest = tag.root.querySelector('[data-dropzone="dest"]');

			dropzoneSrc.ondragover = preventDefault;
			dropzoneSrc.ondragleave = onDragLeave;
			dropzoneSrc.ondragenter = onDragEnter;
			dropzoneSrc.ondrop = onDrop;

			dropzoneDest.ondragover = preventDefault;
			dropzoneDest.ondragleave = onDragLeave;
			dropzoneDest.ondragenter = onDragEnter;
			dropzoneDest.ondrop = onDrop;
		});

		tag.syncPaths = () => {
			const actionIsFile = {
				type: 'dest_is_file'.toUpperCase(),
				value: tag.opts.state.src.isFile
			};
			const actionPath = {
				type: 'dest_path'.toUpperCase(),
				value: tag.opts.state.src.path
			};

			tag.opts.store.dispatch(actionIsFile);
			tag.opts.store.dispatch(actionPath);
		};

		function preventDefault(event) {
			event.preventDefault();
		}

		function onDragLeave(event) {
			const target = event.target;
			const dropzone = target.dataset.dropzone;
			const action = {
				type: `${dropzone}_hovering`.toUpperCase(),
				value: false
			};

			if (event.target.dataset.canDrop === 'true') {
				tag.opts.store.dispatch(action);
			}
		}

		function onDragEnter(event) {
			const target = event.target;
			const dropzone = target.dataset.dropzone;
			const action = {
				type: `${dropzone}_hovering`.toUpperCase(),
				value: true
			};

			if (event.target.dataset.canDrop === 'true') {
				tag.opts.store.dispatch(action);
			}
		}

		function onDrop(event) {
			event.preventDefault();
			const target = event.target;
			const dropzone = target.dataset.dropzone;
			const files = event.dataTransfer.files;
			const file = files[0] || {};
			const fileStats = fs.statSync(file.path);
			const isFile = fileStats.isFile();
			const actionHover = {
				type: `${dropzone}_hovering`.toUpperCase(),
				value: false
			};
			const actionIsFile = {
				type: `${dropzone}_is_file`.toUpperCase(),
				value: isFile
			};
			const actionPath = {
				type: `${dropzone}_path`.toUpperCase(),
				value: file.path
			};

			if (event.target.dataset.canDrop === 'true') {
				tag.opts.store.dispatch(actionHover);
				tag.opts.store.dispatch(actionIsFile);
				tag.opts.store.dispatch(actionPath);
			}
		}
	</script>
</fast-dropzones>
