<fast-dropzones class="dropzones">
	<fast-dropzone
		name="src"
		show="{ true }"
		state="{ opts.state.src }"
	></fast-dropzone>

	<fast-dropzone
		name="dest"
		show="{ !!opts.state.src.path }"
		state="{ opts.state.dest }"
		sync-handler="{ syncPaths }"
		show-sync-button="{ !!opts.state.src.path && opts.state.src.path !== opts.state.dest.path }"
	></fast-dropzone>

	<div
		class="{
			dropzones__in-progress-overlay: true,
			dropzones__in-progress-overlay--visible: opts.isRunning
			}"
		data-progress-overlay
	>
		<fast-circle-animation class="dropzones__loading-animation"></fast-circle-animation>
	</div>

	<script>
		const fs = require('fs');

		const tag = this;

		tag.on('mount', () => {
			const dropzoneSrc = tag.root.querySelector('[data-dropzone="src"]');
			const dropzoneDest = tag.root.querySelector('[data-dropzone="dest"]');
			const overlay = tag.root.querySelector('[data-progress-overlay]');

			dropzoneSrc.ondragover = preventDefault;
			dropzoneSrc.ondragleave = onDragLeave;
			dropzoneSrc.ondragenter = onDragEnter;
			dropzoneSrc.ondrop = onDrop;

			dropzoneDest.ondragover = preventDefault;
			dropzoneDest.ondragleave = onDragLeave;
			dropzoneDest.ondragenter = onDragEnter;
			dropzoneDest.ondrop = onDrop;

			overlay.ondragover = preventDefault;
			overlay.ondragleave = preventDefault;
			overlay.ondragenter = preventDefault;
			overlay.ondrop = preventDefault;
		});

		tag.syncPaths = () => {
			const actionIsFile = {
				type: 'dest_is_file'.toUpperCase(),
				value: tag.opts.state.src.isFile
			};
			const actionPath = {
				type: 'dest_path'.toUpperCase(),
				value: tag.opts.state.src.path
			};

			tag.opts.store.dispatch(actionIsFile);
			tag.opts.store.dispatch(actionPath);
		};

		function preventDefault(event) {
			event.preventDefault();
		}

		function onDragLeave(event) {
			const target = event.target;
			const dropzone = target.dataset.dropzone;
			const action = {
				type: `${dropzone}_hovering`.toUpperCase(),
				value: false
			};

			tag.opts.store.dispatch(action);
		}

		function onDragEnter(event) {
			const target = event.target;
			const dropzone = target.dataset.dropzone;
			const action = {
				type: `${dropzone}_hovering`.toUpperCase(),
				value: true
			};

			tag.opts.store.dispatch(action);
		}

		function onDrop(event) {
			event.preventDefault();
			const target = event.target;
			const dropzone = target.dataset.dropzone;
			const files = event.dataTransfer.files;
			const file = files[0] || {};
			const fileStats = fs.statSync(file.path);
			const isFile = fileStats.isFile();
			const actionHover = {
				type: `${dropzone}_hovering`.toUpperCase(),
				value: false
			};
			const actionIsFile = {
				type: `${dropzone}_is_file`.toUpperCase(),
				value: isFile
			};
			const actionPath = {
				type: `${dropzone}_path`.toUpperCase(),
				value: file.path
			};

			tag.opts.store.dispatch(actionHover);
			tag.opts.store.dispatch(actionIsFile);
			tag.opts.store.dispatch(actionPath);
		}
	</script>
</fast-dropzones>
