.dropzones {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	padding: 0 2.5%;

}

.dropzones__in-progress-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: @greylighter;
	opacity: 0;
	transition: opacity 0.25s ease;
	pointer-events: none;
	display: flex;
    justify-content: center;
    align-items: center;
}

.dropzones__in-progress-overlay--visible {
	pointer-events: initial;
	opacity: 0.75;
}
