<fast-errorlist>
	<section
		if="{ opts.display }"
		class="errorlist">
		<header class="errorlist__header">
			<h2 class="errorlist__title">Errors:</h2>
		</header>

		<section class="errorlist__list-container">
			<ol class="errorlist__list">
				<li
					class="errorlist__error-item"
					onclick="{ parent.toggleError }"
					each="{ error, index in opts.errors }"
					data-index="{ index }">
					<ul class="errorlist__error-property-list">
						<li><span class="errorlist__item-key">name</span>: { error.name }</li>
						<li if="{ error.show }"><span class="errorlist__item-key">parser</span>: { error.parser }</li>
						<li if="{ error.show }"><span class="errorlist__item-key">plugin</span>: { error.plugin }</li>
						<li if="{ error.show }"><span class="errorlist__item-key">message</span>: { error.message }</li>
						<li if="{ error.show }"><span class="errorlist__item-key">where</span>: { error.where }</li>
					</ul>
				</li>
			</ol>
		</section>

		<footer class="errorlist__footer">
			<button
				if="{ opts.errors.length > 1 }"
				onclick="{ expandErrors }">
				Expand all
			</button>
			<button
				if="{ opts.errors.length > 1 }"
				onclick="{ collapseErrors }">
				Collapse all
			</button>
		</footer>
	</section>

	<script>
		this.expandErrors = () => {
			this.opts.store.dispatch({ type: 'EXPAND_ERRORS' });
		};
		this.collapseErrors = () => {
			this.opts.store.dispatch({ type: 'COLLAPSE_ERRORS' });
		};
		this.toggleError = (event) => {
			const index = parseInt(event.target.dataset.index, 10);
			this.opts.store.dispatch({ type: 'TOGGLE_ERROR', index });
		};
	</script>

</fast-errorlist>
