@import (once) '../../_variables';

.dropzone {
	position: relative;
	border: 4px dashed @grey;
	width: 45%;
	height: 90%;
	transition: border-color 0.5s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.dropzone.dropzone--hovering {
	border: 4px dashed @indigo;
}

.dropzone.dropzone--is-file {
	border: 4px dashed @red;
}

.dropzone.dropzone--dropped {
	border: 4px dashed @teal;
}

.dropzone__message {
	text-align: center;
	word-wrap: break-word;
}
