<fast-dropzone
	class="{
		dropzone:true,
		dropzone--hovering:opts.state.hovering,
		dropzone--is-file:opts.state.isFile,
		dropzone--dropped:opts.state.path && !opts.state.isFile,
	}"
	data-dropzone="{ opts.name }"
>
	<p
		if="{ !opts.state.path && opts.name === 'src'}"
		class="dropzone__message">
		Drop your <strong>source</strong> folder here
	</p>

	<p
		if="{ !opts.state.path && opts.name === 'dest'}"
		class="dropzone__message">
		Drop your <strong>destination</strong> folder here
	</p>

	<p
		if="{ opts.state.path && opts.name === 'src'}"
		class="dropzone__message">
		Your <strong>source</strong> folder:
	</p>

	<p
		if="{ opts.state.path && opts.name === 'dest'}"
		class="dropzone__message">
		Your <strong>destination</strong> folder:
	</p>

	<p
		if="{ opts.state.path }"
		class="dropzone__message dropzone__message--folder">
		{ opts.state.path }
	</p>

	<p
		if="{ opts.state.isFile }"
		class="dropzone__message">
		You dropped a file, fastatic only handles folders
	</p>

	<button if="{ opts.showSyncButton }" onclick="{ opts.syncHandler }">Same as source</button>

</fast-dropzone>
