<fast-dropzone-dest>

	<section class="dropzone" show="{ opts.display }">

		<p if="{ !opts.path || opts.isFile }" class="dropzone__message">Drop your <strong>destination</strong> folder here</p>

		<p if="{ opts.path && !opts.isFile }" class="dropzone__message">Your <strong>destination</strong> folder: <span>{ opts.path }</span></p>

		<p if="{ opts.isFile }" class="dropzone__message">Fastatic only runs on folders</p>
	</section>

	<script>
		const dropzone = require('./components/dropzone/dropzone');

		const tag = this;
		tag.name = 'dest';

		tag.on('mount', () => {
			const dropElement = tag.root.querySelector('.dropzone');
			debugger;

			dropElement.ondragover = event => dropzone.preventDefault(event);
			dropElement.ondragleave = () => {
				dropzone.onDragLeave(tag.opts.store, tag.name);
			};
			dropElement.ondragenter = () => {
				dropzone.onDragEnter(tag.opts.store, tag.name);
			};
			dropElement.ondrop = (event) => {
				dropzone.onDrop(event, tag.opts.store, tag.name);
			};
		});
	</script>

</fast-dropzone-dest>
