<fast-dropzone-dest>

	<section class="dropzone" show="{ opts.display }">

		<p
			if="{ !opts.path || opts.isFile }"
			class="dropzone__message">
			Drop your <strong>destination</strong> folder here
		</p>

		<p
			if="{ opts.path && !opts.isFile }"
			class="dropzone__message">
			Your <strong>destination</strong> folder: <span>{ opts.path }</span>
		</p>

		<p
			if="{ opts.isFile }"
			class="dropzone__message">
			Fastatic only runs on folders
		</p>

		<hr class="dropzone-dest__seperator"/>

		<p class="dropzone__message">Choose from these options:</p>

		<div class="dropzone-dest__button-wrapper">
			<button
				if="{ opts.srcPath && !opts.isFile }"
				class="dropzone-dest__path-button">
				{ opts.srcPath + '/dest' }
			</button>

			<button
				if="{ opts.srcPath && !opts.isFile }"
				class="dropzone-dest__path-button">
				{ formatPath(opts.srcPath) }
			</button>
		</div>

	</section>

	<script>
		const dropzone = require('./components/dropzone/dropzone');

		const tag = this;
		tag.name = 'dest';

		tag.on('mount', () => {
			const dropElement = tag.root.querySelector('.dropzone');

			dropElement.ondragover = event => dropzone.preventDefault(event);
			dropElement.ondragleave = () => {
				dropzone.onDragLeave(tag.opts.store, tag.name);
			};
			dropElement.ondragenter = () => {
				dropzone.onDragEnter(tag.opts.store, tag.name);
			};
			dropElement.ondrop = (event) => {
				dropzone.onDrop(event, tag.opts.store, tag.name);
			};
		});

		tag.formatPath = (path) => {
			const folder = path.split('/').pop();
			return path.replace(folder, 'dest');
		};

	</script>

</fast-dropzone-dest>
