<fast-dropzone-dest>

	<section
		class="{
			dropzone:true,
			dropzone-dest: true,
			dropzone--disabled: opts.isDisabled,
			dropzone--dropped: opts.isDropped,
			dropzone--hovering: opts.isHovering,
			dropzone--is-file: opts.isFile
		}"
		show="{ opts.display }">

		<p
			if="{ !opts.path || opts.isFile }"
			class="dropzone__message">
			Drop your <strong>destination</strong> folder here
		</p>

		<p
			if="{ opts.path && !opts.isFile }"
			class="dropzone__message">
			Your <strong>destination</strong> folder: <span>{ opts.path }</span>
		</p>

		<p
			if="{ opts.isFile }"
			class="dropzone__message dropzone__message--warning">
			⚠️ Fastatic only runs on folders<br />({ opts.path })
		</p>

		<hr if="{ opts.srcPath && !opts.srcIsFile && !opts.isDisabled }" class="dropzone-dest__seperator"/>

	<p class="dropzone__message" if="{ !opts.path || opts.isFile }">Use
			<button
				tabindex="0"
				onclick="{ onKeyCommandClick }"
				class="keycode">
				<kbd>⌘</kbd>+<kbd>D</kbd>
			</button>
		</p>

		<hr if="{ opts.srcPath && !opts.srcIsFile && !opts.isDisabled }" class="dropzone-dest__seperator"/>

		<p
			if="{ opts.srcPath && !opts.srcIsFile && !opts.isDisabled }"
			class="dropzone__message">
			Choose from these options:
		</p>

		<div
			if="{ opts.srcPath && !opts.srcIsFile && !opts.isDisabled }"
			class="dropzone-dest__button-wrapper">
			<button
				class="dropzone-dest__path-button"
				onclick="{ buttonHandler }">
				{ opts.srcPath + '/dest' }
			</button>

			<button
				class="dropzone-dest__path-button"
				onclick="{ buttonHandler }">
				{ formatPath(opts.srcPath) }
			</button>
		</div>

	</section>

	<script>
		const dropzone = require('./components/dropzone/dropzone');

		const tag = this;
		tag.name = 'dest';

		tag.on('mount', () => {
			const dropElement = tag.root.querySelector('.dropzone');

			dropElement.ondragover = event => dropzone.preventDefault(event);
			dropElement.ondragleave = () => {
				dropzone.onDragLeave(tag.opts.store, tag.name);
			};
			dropElement.ondragenter = () => {
				dropzone.onDragEnter(tag.opts.store, tag.name);
			};
			dropElement.ondrop = (event) => {
				dropzone.onDrop(event, tag.opts.store, tag.name);
			};
		});

		tag.formatPath = (path) => {
			const folder = path.split('/').pop();
			return path.replace(folder, 'dest');
		};

		tag.buttonHandler = (event) => {
			tag.opts.store.dispatch({
				type: 'DROPZONE_DEST_PATH',
				path: event.target.innerText,
				isFile: false });
		};

		tag.onKeyCommandClick = () => {
			dropzone.onKeyCommandClick(tag.name, 'CmdOrCtrlPlusD');
		};
	</script>

</fast-dropzone-dest>
