button {
	border: 1px solid black;
	background: transparent;
	font-family: "Ubuntu Mono";
	font-size: 1rem;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: @grey;
    -webkit-border-radius:4px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
