<fast-app class="app">
	<fast-header></fast-header>

	<section>
		<fast-dropzone-src
			class="{
				app__view: true,
				app__view--display:opts.store.getState().app.srcViewDisplay,
				app__view--active:(opts.store.getState().app.activeView === 'src')
			}"
			display="{ opts.store.getState().app.srcViewDisplay }"
			is-disabled="{ opts.store.getState().dropzoneSrc.disabled }"
			is-dropped="{ opts.store.getState().dropzoneSrc.path && !opts.store.getState().dropzoneSrc.isFile }"
			is-file="{  opts.store.getState().dropzoneSrc.isFile  }"
			is-hovering="{  opts.store.getState().dropzoneSrc.hovering  }"
			path="{ opts.store.getState().dropzoneSrc.path }"
			store="{ opts.store }"
		></fast-dropzone-src>

		<fast-dropzone-dest
			class="{
				app__view:true,
				app__view--display:opts.store.getState().app.destViewDisplay,
				app__view--active:(opts.store.getState().app.activeView === 'dest')
			}"
			display="{ opts.store.getState().app.destViewDisplay }"
			is-disabled="{ opts.store.getState().dropzoneDest.disabled }"
			is-dropped="{ opts.store.getState().dropzoneDest.path && !opts.store.getState().dropzoneDest.isFile }"
			is-file="{  opts.store.getState().dropzoneDest.isFile  }"
			is-hovering="{  opts.store.getState().dropzoneDest.hovering  }"
			path="{ opts.store.getState().dropzoneDest.path }"
			src-is-file="{  opts.store.getState().dropzoneSrc.isFile }"
			src-path="{ opts.store.getState().dropzoneSrc.path }"
			store="{ opts.store }"
		></fast-dropzone-dest>

		<fast-result
			class="{
				app__view:true,
				app__view--display:opts.store.getState().app.resultViewDisplay,
				app__view--active:(opts.store.getState().app.activeView === 'result')
			}"
			dest-folder="{ opts.store.getState().result.output.dest }"
			dest-result="{ opts.store.getState().result.output.filesize.dest }"
			display="{ opts.store.getState().app.resultViewDisplay }"
			src-result="{ opts.store.getState().result.output.filesize.src }"
		></fast-result>

		<fast-errorlist
			class="{
				app__view:true,
				app__view--display:opts.store.getState().app.errorViewDisplay,
				app__view--active:(opts.store.getState().app.activeView === 'error')
			}"
			collapse-all-callback="{ collapseErrors }"
			display="{ opts.store.getState().app.errorViewDisplay }"
			errors="{ opts.store.getState().errorlist.errors }"
			expand-all-callback="{ expandErrors }"
			store="{ opts.store }"
			toggle-callback="{ toggleError }"
		></fast-errorlist>

		<fast-reset
			class="{
				app__view: true,
				app__view--display: opts.store.getState().app.resultViewDisplay || opts.store.getState().app.errorViewDisplay
			}"
			display="{ opts.store.getState().app.resultViewDisplay || opts.store.getState().app.errorViewDisplay }"
			store="{ opts.store }"
		></fast-reset>
	</section>
</fast-app>
