<fast-app class="app">
	<fast-header></fast-header>

	<fast-dropzones
		store="{ opts.store }"
		state="{ opts.store.getState().dropzones }"
		is-running="{ opts.store.getState().fastatic.isRunning }"
	></fast-dropzones>

	<fast-footer
		is-running="{ opts.store.getState().fastatic.isRunning }"
	></fast-footer>

	<fast-result
		src-result="{ opts.store.getState().result.output.filesize.src }"
		dest-result="{ opts.store.getState().result.output.filesize.dest }"
		dest-folder="{ opts.store.getState().result.output.dest }"
		show="{ opts.store.getState().result.show }"
		hide-callback="{ hideResult }"
	></fast-result>

	<fast-errorlist
		show="{ opts.store.getState().errorlist.show }"
		errors="{ opts.store.getState().errorlist.errors }"
		hide-callback="{ hideResult }"
	></fast-errorlist>

	<script>

		this.hideResult = () => {
			this.opts.store.dispatch({ type: 'HIDE_RESULT' });
			this.opts.store.dispatch({ type: 'RESET_RESULT' });
		};

		this.hideErrors = () => {
			this.opts.store.dispatch({ type: 'HIDE_ERRORS' });
			this.opts.store.dispatch({ type: 'RESET_ERRORS' });
		};
	</script>
</fast-app>
