<fast-dropzone-src>

	<section class="dropzone" if="{ opts.display }">
		<p class="dropzone__message">Your <strong>source</strong> folder: path/to/folder</p>
	</section>

	<script>
		const dropzone = require('./components/dropzone/dropzone');

		const tag = this;
		tag.name = 'src';
		tag.mixin(dropzone);

		tag.on('mount', () => {
			const dropElement = tag.root.querySelector('.dropzone');

			dropElement.ondragover = event => dropzone.preventDefault(event);
			dropElement.ondragleave = () => {
				dropzone.onDragLeave(tag.opts.store, tag.name);
			};
			dropElement.ondragenter = () => {
				dropzone.onDragEnter(tag.opts.store, tag.name);
			};
			dropElement.ondrop = (event) => {
				dropzone.onDrop(event, tag.opts.store, tag.name);
			};
		});
	</script>

</fast-dropzone-src>
