.header {
	display: block;
	-webkit-user-select: none;
	-webkit-app-region: drag;
	height: 37px;
	font-family: monospace;
	text-align: center;
}

.header h1 {
	line-height: 2.4rem;
}

.header header {
	pointer-events: none;
}
