.result {
	position: absolute;
	width: 100%;
	height: calc(100% - 37px);
	margin-top: 37px;
	background: white;
	transform: translateY(100%);
	transition: transform 0.25s ease;
}

.result--visible {
	transform: translateY(0%);
}
