* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: @greylighter;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
}

h1 {
	margin: 0;
}
